@font-face{
    font-family: 'Exo';
    src: url('../fonts/Exo/Exo-Regular.ttf');
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
body {
    font-family: 'Montserrat', serif;
}
h2 {
    margin: 0;
    font-size: 30px;
}
.button {
    border: 0;
    padding: 20px;
    border-radius: 10px;
}
.button-icon {
    margin-right: 5px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__left,
.header__right,
.header__notifications,
.header__mail,
.header__left > * {
    height: 100%;
}

.header__center {
    margin: auto 15px;
}
.header__left, 
.header__right,
.header__menu,
.header__search,
.header__profile__wrap,
.header__profile,
.header__logo,
.header__notifications,
.header__mail {
    display: flex;
}
.header__left > *, 
.header__right > *,
.header__search > *,
.header__menu > *,
.header__logo > *,
.header__notifications > *,
.header__mail > *,
.header__profile {
    margin: auto;
}

.header__menu,
.header__notifications,
.header__mail,
.header__logo,
.aside__menu__item {
    cursor: pointer;
}

.header__notifications,
.header__mail {
    width: 60px;
}
.header__menu {
    width: 90px;
}
.header__search__input {
    border: 0;
    margin: 10px 15px;
    width: 300px;
}
.header__search__input::placeholder {
    color: #b2b2b2;
}
.header__center hr {
    margin: 0;
}

.header__letter {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    margin: auto 15px;
    text-transform: uppercase;
}
.header__logo-text {
    font-family: 'Exo', serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    margin: auto 5px;
}

.header__profile__wrap {
    height: 100%;
    width: 130px;
    margin-left: 10px;
}

.header__profile > * {
    margin: auto 7px;
}



.aside {
    position: fixed;
    top: 80px;
    left: 0;
    width: 90px;
    height: 100%;
}
.aside__menu {
    margin: 0;
    padding: 0;
}
.aside__menu__item {
    display: flex;
    height: 90px;
    list-style-type: none;
}
.aside__menu__item > * {
    margin: auto;
}

.main-wrap {
    margin: 80px 0 0 90px;
}
.main {
    position: relative;
    padding: 50px;
}
.main__header__headline {
    display: flex;
}
.main__header {
    display: flex;
    justify-content: space-between;
}

.main__header__headline h2{
    margin: 0 15px;
}
.main__header__headline .fa-chevron-down {
    margin: auto 0;
}


.white {
    background-color: #fff;
}
.gray {
    background-color: #fafafa;
}

.light-blue {
    background-color: #5a98d5;
}
.dark-blue {
    background-color: #3b5a79;
}

.text_white {
    color: #fff;
}
.text_ligth-gray {
    color: #e6e6e6;
}
.text_gray {
    color: #b2b2b2;
}
.text_dark_gray {
    color: #9fa1a2;
}
.text_blue {
    color: #586b7e;
}
.text_dark-blue {
    color: #2c3e50;
}