@font-face{
    font-family: 'Exo';
    src: url('../fonts/Exo/Exo-Regular.ttf');
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face{
    font-family: 'MontserratSemiBold';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
}
body {
    font-family: 'Montserrat', serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 30px;
}
p {
    margin: 0;
}
.button {
    border: 0;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.button-icon {
    margin-right: 2px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

/* -----Header left------ */
.header__left {
    height: 100%;
    display: flex;
}
.header__menu {
    display: flex;
    cursor: pointer;
    width: 90px;
    height: 100%;
    margin: auto;
}
.header__menu i {
    margin: auto;
}
.header__menu:hover {
    background-color: #8fbff0;
}
.header__logo {
    display: flex;
    cursor: pointer;
    height: 100%;
    margin: auto;
}
.header__letter {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    margin: auto 15px;
    text-transform: uppercase;
}
.header__logo-text {
    font-family: 'Exo', serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    margin: auto 5px;
}

/* -----Header center------ */
.header__center {
    position: relative;
    display: flex;
}
.header__center hr {
    margin: 0;
}

.header__center__mini {
    cursor: pointer;
    display: none;
    width: 60px;
    height: 80px;
    margin: auto;
}
.header__search__mini__button {
    margin: auto;
}
.header__center__normal {
    margin: auto;
}
.header__center__mini.active {
    display: flex;
    position: absolute;
    top: 100px;
    left: 40px;
    transform: translate(-50%, 0%);
}


.header__search {
    display: flex;
}
.header__search__input {
    border: 0;
    margin: 10px 15px;
    width: 300px;
}
.header__search__button {
    cursor: pointer;
    margin: auto;
}
.header__search__input::placeholder {
    color: #b2b2b2;
}

/* -----Header right------ */
.header__right {
    height: 100%;
    display: flex;
}
.wrap {
    position: relative;
}

.header__notifications,
.header__messages {
    display: flex;
    cursor: pointer;
    height: 100%;
    margin: auto;
    width: 60px;
    padding-top: 2px;
}

.header__profile {
    display: flex;
    margin: auto;
}

.header__notifications__icon,
.header__messages__icon {
    position: relative;
    display: flex;
    margin: auto;
}

.messages_not-read {
    position: absolute;
    top: -7px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ecda41; 
}
.notifications_light-red-circle {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 29px;
    height: 29px;
    border-radius: 100%;
    opacity: 0.4;
    background-color: #ff6e6e;
    z-index: 1;
}
.notifications_red-circle {
    position: absolute;
    top: -13px;
    right: -13px;
    width: 19px;
    height: 19px;
    border-radius: 100%; 
    background-color: #ff6e6e;
    z-index: 2;
}
.notifications_number {
    position: absolute;
    top: -11px;
    right: -7px;
    z-index: 3;
    font-weight: bold;
    font-size: 13px;
}

/* -----Header pops------ */
.header__pop__wrap {
    position: absolute;
    top: 90px;
    right: 5px;
    z-index: 3;
    cursor: default;
    border-radius: 2px;
}
.header__pop {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.header__profile__wrap {
    display: flex;
    position: relative;
    height: 100%;
    width: 130px;
    margin-left: 10px;
    cursor: pointer;
}
.header__profile__wrap:hover {
    background-color: #71b1f1;
}
.header__profile__img {
    width: 50px;
    height: 50px;
}
.header__profile > * {
    margin: auto 7px;
}

.search_select {
    top: 60px;
    right: -10px;
}
.search_select__content {
    width: 370px;
}
.search_select__item {
    display: flex;
    height: 55px;
    margin: 2px;
}
.search_select__item img{
    margin: auto 20px auto 20px;
}
.search_select__item p {
    line-height: 50px;
    margin: 0;
}


.notifications,
.messages {
    transform: translate(35%, 0%);
}
.messages__content,
.notifications__content {
    padding-top: 50px;
    width: 350px;
}
.profile__content {
    width: 300px;
}

.notifications__item {
    display: flex;
}
.notifications__item__icon {
    margin: auto 20px auto 20px;
}
.notifications__item__head,
.notifications__item__text {
    margin: 10px 0;
}

.message {
    margin: 10px;
    border-radius: 7px;
}
.message p {
    margin: 10px;
    padding: 5px;
}

.profile__avatar,
.profile__name, 
.profile__online, 
.profile__menu {
    width: 100%;
    display: flex;
}
.header__profile .profile__img {
    width: 50px;
    height: 50px;
}

.profile__avatar .profile__img {
    width: 100px;
    height: 100px;
    margin: auto;  
}

.profile__img {
    border-radius: 100px;
}

.profile__avatar {
    height: 130px;
}
.profile__name {
    padding: 10px 0;
}
.profile__name h2 {
    margin: auto;
}
.profile__online {
    padding: 5px 0;
    display: flex;
    justify-content: center;
}
.profile__online > * {
    margin: 0;
}
.online__circle {
    margin: auto 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%; 
    background-color: #4cc052;
}
.profile__menu {
    margin-top: 15px;
    flex-direction: column;
}
.profile__menu > div {
    display: flex;
    margin: 3px 0;
    cursor: pointer;
}
.profile__menu i {
    margin: auto 10px auto 20px;
}

/* -----Aside------ */
.aside {
    position: fixed;
    top: 80px;
    left: -90px;
    width: 90px;
    height: 100%;
    z-index: 5;
}
.aside__menu {
    margin: 0;
    padding: 0;
    /*transform: scale(1);
    transition: 0.15s all ease;*/
}
.aside__menu__item {
    display: flex;
    height: 90px;
    list-style-type: none;
    cursor: pointer;
}
.aside__menu__item i {
    margin: auto;
}

.main-wrap {
    margin-top: 80px;
    margin-left: 0;
}
.aside_active {
    left: 0;
}
.main_aside-active {
    margin-left: 90px;
}


.main {
    position: relative;
    padding: 50px;
}
.main__header__headline {
    display: flex;
}
.main__header-wrap {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto 20px auto;
}
.main__header {
    display: flex;
    justify-content: space-between;
}

.main__header__headline h2{
    margin: 0 15px;
}

.main__header p {
    line-height: 30px;
}
.main__header__headline .fa-chevron-down {
    margin: auto 0;
}
.main__header button {
    display: flex;
}
.sales__select {
    cursor: pointer;
}
/* -----Container------ */
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.row .col-lg-1 {
    min-width: 55px;
    width: 5.5%;
    max-width: 70px;
}
.row .col-lg-2 {
    min-width: 140px;
    width: 11%;
    max-width: 170px;
}
.row .col-lg-3 {
    min-width: 225px;
    width: 23%;
    max-width: 270px;
}
.row .col-lg-4 {
    min-width: 330px;
    width: 31%;
    max-width: 370px;
}
.row .col-lg-6 {
    width: 48%;
    max-width: 570px;
}
.row .col-lg-12 {
    width: 100%;
    max-width: 1170px;
}

.container__double-block {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 330px;
    margin: 0 auto;
}
.container__half-block-wrap {
    position: relative;
    margin: 15px 0;
    height: 45%;
    min-height: 150px;
    display: flex;
}
.container__half-block {
    display: flex;
    margin-top: 20px;
}
.container__half-block__minimize {
    min-height: 70px;
    height: 70px;
}
.container__text__minimize {
    position: absolute;
    top: 22px;
    left: 65px;
    font-size: 16px;
    font-weight: bold;
}
.container__half-block__text {
    margin: auto;
}

.container__half-block__img {
    padding: 0 23px 0 36px;
    display: flex;
}
.container__half-block__img img {
    margin: auto;
}


.change {
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 1;
    display: flex;
}
.change__button {
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
}
.change__button i {
    margin: auto;
}

.options {
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 2;
}
.options__button {
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
}
.options__button i {
    margin: auto;
}

.options__popup {
    position: absolute;
    width: 150px;
    z-index: 3;
    background-color: #eeeeee;
    border-radius: 4px;
}
.options__item {
    display: flex;
    background-color: #eeeeee;
    cursor: pointer;
}
.options__item:hover {
    background-color: #dddddd;
}
.options__item__icon {
    display: flex;
    width: 30px;
}
.options__item__icon i{
    margin: auto;
}


.container__item {
    position: relative;
    margin: 15px auto;
}
.container__item__minimize {
    height: 70px;
}

.container__item__head {
    position: absolute;
    margin-top: 25px;
    margin-left: 65px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
}
.container__item__title {
    margin: 2px;
}
.container__item__subtitle {
    margin: 2px 2px 2px 6px;
}
.container__item__text {
    position: absolute;
    z-index: 1;
}

.container__item__text_left {
    top: 20%;
    left: 10%;
}
.container__item__text_center {
    top: 10%;
    font-family: 'MontserratSemiBold', serif;
    text-align: center;
    width: 100%;
    
}
.container__item__text_bottom {
    width: 88%;
    bottom: 6%;
    display: flex;
    font-size: 14px;
    margin: 0 6%;
    justify-content: space-between;
}
.chart__wrap {
    position: relative;
    padding-bottom: 100%;
    height: 0;
}
.chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.hidden {
    display: none;
}
.button.sky-blue-bg:hover,
.aside__menu__item:hover {
    background-color: #8fbff0;
}
.aside__menu__item.active {
    background-color: #5a98d5;
    cursor: default;
}
.aside__menu__item.active:hover {
    background-color: #5a98d5;
}
/* -----Colors------ */
.white-bg {
    background-color: #fff;
}
.gray-bg {
    background-color: #fafafa;
}

.light-green-bg {
    background-color: #cbecbc;
}
.light-sky-blue-bg {
    background-color: #bceaec;
}
.light-blue-bg {
    background-color: #74aadf;
}
.sky-blue-bg {
    background-color: #5a98d5;
}
.dark-blue-bg {
    background-color: #3b5a79;
}

.bold {
    font-weight: bold;
}
.box-shadow {
    box-shadow: 0 0 27px rgba(139, 139, 139, 0.13);
}
.box-shadow_bottom {
    box-shadow: 0 10px 30px -15px rgba(0,0,0,0.2);
}
.text_big {
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
}
.text_white {
    color: #fff;
}
.text_ligth-gray {
    color: #e6e6e6;
}
.text_light-blue-gray {
    color: #d1dce7;
}
.text_gray {
    color: #b2b2b2;
}
.text_dark_gray {
    color: #9fa1a2;
}
.text_green {
    color: #83ad70;
}
.text_light-blue {
    color: #639fa2;
}
.text_blue {
    color: #586b7e;   
}
.text_dark-blue {
    color: #2c3e50;
}
.text_red {
    color: #ff6e6e;
}

@media (max-width: 990px) {
    .row .col-md-1 {
        width: 5.5%;
        max-width: 55px;
    }
    .row .col-md-2 { 
        width: 11%;
        max-width: 140px;
    }
    .row .col-md-3 {
        width: 23%;
        max-width: 225px;
    }
    .row .col-md-4 {
        width: 31%;
        max-width: 310px;
    }
    .row .col-md-6 {
        width: 48%;
        max-width: 480px;
    }
    .row .col-md-12 {
        width: 100%;
        max-width: 990px;
    }
}

@media (max-width: 900px) {
    .header__center__mini {
        display: flex;
    }
    .header__center__normal {
        display: none;
        position: absolute;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 30px;
    }

    .row .col-xs-1 {
        width: 5.5%;
        max-width: 36px;
    }
    .row .col-xs-2 {
        width: 11%;
        max-width: 102px;
    }
    .row .col-xs-3 {
        width: 23%;
        max-width: 168px;
    }
    .row .col-xs-4 {
        width: 31%;
        max-width: 234px;
    }
    .row .col-xs-6 {
        width: 48%;
        max-width: 366px;
    }
    .row .col-xs-12 {
        width: 100%;
        max-width: 762px;
    }
}

@media (max-width: 580px) {
    .header__logo-text {
        display: none;
    }
}