
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;

    &__left {
        height: 100%;
        display: flex;
    }
    &__menu {
        display: flex;
        cursor: pointer;
        width: 90px;
        height: 100%;
        margin: auto;
        &:hover {
            background-color: #8fbff0;
        }
        i {
            margin: auto;
        }
    }
    &__logo {
        display: flex;
        cursor: pointer;
        height: 100%;
        margin: auto;
    }
    &__letter {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        text-align: center;
        margin: auto 15px;
        text-transform: uppercase;
    }
    &__logo-text {
        font-family: 'Exo', serif;
        font-size: 22px;
        line-height: 30px;
        font-weight: bold;
        margin: auto 5px;

        @media screen and (max-width: 580px) {
            & {
                display: none;
            }
        }
    }


    &__center {
        position: relative;
        display: flex;
        hr {
            margin: 0;
        }
        &__mini {
            cursor: pointer;
            display: none;
            width: 60px;
            height: 80px;
            margin: auto;
            .header__search__mini__button {
                margin: auto;
            }
            @media screen and (max-width: 900px) {
                & {
                    display: flex;
                }
            }
        }
        &__normal {
            margin: auto;
            &.active {
                display: block;
                position: absolute;
                top: 90px;
                left: 100%;
                transform: translate(-50%, 0%);
                padding: 20px;
            }
            @media screen and (max-width: 900px) {
                & {
                    display: none;
                    position: absolute;
                }
            }
        }
    }
    &__search {
        display: flex;
        &__input {
            border: 0;
            margin: 10px 15px;
            width: 300px;
            &::placeholder {
                color: #b2b2b2;
            }
        }
        &__button {
            cursor: pointer;
            margin: auto;
        }
    }


    &__right {
        height: 100%;
        display: flex;
    }
    &__notifications,
    &__messages {
        display: flex;
        cursor: pointer;
        height: 100%;
        margin: auto;
        width: 60px;
        padding-top: 2px;
        &__icon {
            position: relative;
            display: flex;
            margin: auto;
        }
    }
    .messages_not-read {
        position: absolute;
        top: -7px;
        right: -5px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #ecda41; 
    }
    .notifications_light-red-circle {
        position: absolute;
        top: -18px;
        right: -18px;
        width: 29px;
        height: 29px;
        border-radius: 100%;
        opacity: 0.4;
        background-color: #ff6e6e;
        z-index: 1;
    }
    .notifications_red-circle {
        position: absolute;
        top: -13px;
        right: -13px;
        width: 19px;
        height: 19px;
        border-radius: 100%; 
        background-color: #ff6e6e;
        z-index: 2;
    }
    .notifications_number {
        position: absolute;
        top: -11px;
        right: -7px;
        z-index: 3;
        font-weight: bold;
        font-size: 13px;
    }

    &__profile__wrap {
        display: flex;
        position: relative;
        height: 100%;
        width: 130px;
        margin-left: 10px;
        cursor: pointer;
        &:hover {
            background-color: #71b1f1;
        }
    }
    &__profile {
        display: flex;
        margin: auto;
        &__img {
            width: 50px;
            height: 50px;
            border-radius: 100px;
            margin: auto 7px;
        }
        i {
            margin: auto 7px;
        }
    }

    &__pop__wrap {
        position: absolute;
        top: 90px;
        right: 5px;
        z-index: 3;
        cursor: default;
        border-radius: 2px;
    }
    &__pop {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .search_select {
        top: 60px;
        right: 3px;
        &__content {
            width: 370px;
        }
        &__item {
            display: flex;
            height: 55px;
            margin: 2px;
            img{
                margin: auto 20px auto 20px;
            }
            p {
                line-height: 50px;
                margin: 0;
            }
        }
    }
    
    .notifications {
        transform: translate(35%, 0%);
        &__item {
            display: flex;
            &__icon {
                margin: auto 20px auto 20px;
            }
            &__text, 
            &__head {
                margin: 10px 0;
            }
        }
        &__content {
            padding-top: 50px;
            width: 350px;
        }
    }
    
    .messages {
        transform: translate(35%, 0%);
        p {
            margin: 10px;
            padding: 5px;
        }
        &__content{
            padding-top: 50px;
            width: 350px;
            .message {
                margin: 10px;
                border-radius: 7px;
            }
        }
    }
    
    .profile {
        &__content {
            width: 300px;
        }
        &__avatar {
            width: 100%;
            display: flex;
            height: 130px;  
        }
        &__img {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            margin: auto;  
        }
        &__name {
            width: 100%;
            display: flex;
            padding: 10px 0;
            h2 {
                margin: auto;
            }
        }
        &__online {
            width: 100%;
            display: flex;
            padding: 5px 0;
            display: flex;
            justify-content: center;
            span, p {
                margin: 0;
            }
            .online__circle {
                margin: auto 5px;
                width: 10px;
                height: 10px;
                border-radius: 100%; 
                background-color: #4cc052;
            }
        }
        &__menu {
            width: 100%;
            display: flex;
            margin-top: 15px;
            flex-direction: column;
            i {
                margin: auto 10px auto 20px;
            }
            & > div {
                display: flex;
                margin: 3px 0;
                cursor: pointer;
            }
        }
    }
}
