html * {
    font-family: 'Montserrat', serif;
}
.button {
    border: 0;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;

    .button-icon {
        margin-right: 0.5em;
    }
}
.button.sky-blue-bg:hover {
    background-color: #8fbff0;
}

.bold {
    font-weight: bold;
}
.box-shadow {
    box-shadow: 0 0 27px rgba(139, 139, 139, 0.13);
}
.box-shadow_bottom {
    box-shadow: 0 10px 30px -15px rgba(0,0,0,0.2);
}
.text_big {
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
}
.wrap {
    position: relative;
}

.hidden {
    display: none !important;
}

.change {
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 1;
    display: flex;
    &__button {
        width: 30px;
        height: 30px;
        display: flex;
        cursor: pointer;

        i {
            margin: auto;
        }
    }
}

.options {
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 2;
    &__button {
        width: 30px;
        height: 30px;
        display: flex;
        cursor: pointer;
        i {
            margin: auto;
        }
    }
    &__popup {
        position: absolute;
        width: 150px;
        z-index: 3;
        background-color: #eeeeee;
        border-radius: 4px;
    }
    &__item {
        display: flex;
        background-color: #eeeeee;
        cursor: pointer;
        &__icon {
            display: flex;
            width: 30px;
            i {
                margin: auto;
            }
        }
        &:hover {
            background-color: #dddddd;
        }
    }
}