@font-face{
    font-family: 'Exo';
    src: url('../fonts/Exo/Exo-Regular.ttf');
}
@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face{
    font-family: 'MontserratSemiBold';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
}
