* {
    font-family: 'Montserrat', serif;
}
body {
    @extend .gray-bg;
    margin: 0;
    @media screen and (max-width: 580px) {
        &.menu_active {
            overflow-y: hidden;
        }
    }
}
p {
    margin: 0;
}
.button {
    @extend .sky-blue-bg;
    @extend .text_white;
    border: 0;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;

    .button-icon {
        margin-right: 0.5em;
    }
}
.button.sky-blue-bg:hover {
    background-color: $lighter-blue;
}
.box_shadow {
    box-shadow: 0 0 27px rgba(139, 139, 139, 0.13);
}
.box_shadow_bottom {
    box-shadow: 0 10px 30px -15px rgba(0,0,0,0.2);
}
.text_big {
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
}
.wrap {
    position: relative;
}

.hidden {
    display: none !important;
}

i {
    user-select: none;
}

.window-control {
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 1;
    display: flex;

    &__button {
        @extend .text_light-blue-gray;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        &:hover {
            @extend .text_blue;
        }
    }
}

.options {
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 2;

    &__button {
        @extend .text_light-blue-gray;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            @extend .text_blue;
        }
    }
    &__popup {
        position: absolute;
        width: 150px;
        z-index: 3;
        background-color: #eeeeee;
        border-radius: 4px;
    }
    &__item {
        @extend .white-bg;
        @extend .box_shadow;
        display: flex;
        position: relative;
        align-items: center;
        min-height: 35px;
        cursor: pointer;

        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
        }
        &:hover {
            background-color: #dddddd;
        }
    }
}

.container__double-block {
    .window-control {
        &__button {
            &:hover {
                @extend .text_blue;
            }
        }
    }
    .options {
        &__button {
            &:hover {
                @extend .text_blue;
            } 
        }
    }
}

.modal {
    &__content {
        input {
            width: 92%;
            margin: 2%;
            padding: 2%;
            border: 1px solid;
            border-color: gray;
            font-size: 14px;
        }
        input[type=text] {
            width: 41%;
        }
        input[type=email] {
            width: 90.5%;
        }
        input[type=password] {
            width: 41%;
        }
        input[type=submit] {
            @extend .text_white;
            width: 45%;
            margin-right: 3.5%;
            border: 0;
            font-weight: bold;
            background-color: #0080D0;
            cursor: pointer;
        }
    }
}
