.content {
    position: relative;
    display: flex;
    top: 80px;
    min-height: 92vh;
}

.main-wrap {
    position: relative;
    width: 95%;
    transition: 0.3s ease-in-out;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;

    &__header-wrap {
        width: 100%;
        max-width: $lg;
        margin: 0 auto;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 15px;

        p {
            line-height: 30px;
        }
        &__headline {
            display: flex;
            align-items: center;

            i {
                @extend .text_blue;
            }
            h2 {
                margin: 0 15px;
            } 
            .sales__select__wrap {
                margin: 0;
            }
            .sales__select {
                position: relative;
                display: flex;
                align-items: center;

                i {
                    @extend .text_blue;
                    cursor: pointer;
                    &:hover {
                        @extend .text_dark-blue;
                    }
                }
                .options__popup {
                    top: 0px;
                    left: 20px;
                }
            }
        }
        &__text {
            @extend .text_dark_gray;
            font-weight: bold;
        }
        button {
            display: flex;
                align-items: center;

            i, span {
                display: inline-block;
            }
        }
        @media screen and (max-width: 580px) {
            flex-direction: column;

            & > div {
                margin: 10px auto;
            }
        }
    }

    @media screen and (max-width: 768px) {
        padding: 30px;
    }

    @media screen and (max-width: 580px) {
        padding: 10px;
    }
}

.container {
    width: 100%;
    max-width: $lg;
    margin: 0 auto;

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    &__item {
        @extend .white-bg;
        @extend .box_shadow;
        position: relative;
        margin: 15px;
        float: left;

        &__head {
            position: absolute;
            display: flex;
            margin-top: 25px;
            margin-left: 65px;
            font-size: 16px;
            font-weight: bold;
            z-index: 1;
        }
        &__title {
            margin: 2px;
        }
        &__subtitle {
            margin: 2px 2px 2px 6px;
        }
        &__text {
            position: absolute;
            z-index: 1;
        }
        &__text_left {
            top: 20%;
            left: 10%;
        }
        &__text_center {
            top: 50px;
            width: 100%;
            font-family: 'MontserratSemiBold', serif;
            text-align: center;
        }
        &__text_bottom {
            display: flex;
            justify-content: space-between;
            width: 88%;
            bottom: 30px;
            margin: 0 6%;
            font-size: 14px;
        }
        .chart__wrap {
            position: relative;
            height: 0;
            padding-bottom: 100%;

            .chart {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        &.container__item__minimize {
            height: 70px;
        }
        .options__exchange-rates {
            @extend .white-bg;
            @extend .box_shadow;
            position: absolute;
            padding: 5px;
            left: 0;
            top: 110px;
        }
        .exchange_basedFor,
        .exchange_basedOn,
        .exchange__input {
            padding: 7px;
            margin: 3px;
        }
        .chart_error {
            @extend .text_red;
            position: absolute;
            margin: 25px;
            top: 40%;
        }
    }
    &__double-block {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        float: left;
        min-height: 330px;
        margin: 0 15px;

        .container__half-block-wrap {
            @extend .box_shadow;
            position: relative;
            display: flex;
            height: 45%;
            min-height: 150px;
            margin: 15px 0;

            .container__half-block {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                
                &__img {
                    padding: 0 23px 0 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-width: 47px;
                        max-height: 47px;
                    }
                }

                &__text {
                    @media screen and (max-width: 580px) {
                        .text_big {
                            font-size: 20px;
                        }
                        p {
                            font-size: 14px
                        }
                    }
                }
            }
            &.container__half-block__minimize {
                height: 70px;
                min-height: 70px;
            }
            .container__text__minimize {
                position: absolute;
                top: 22px;
                left: 65px;
                font-size: 16px;
                font-weight: bold;

                p {
                    margin-top: 5px;
                }
            }
        }
    }
}

.error-message {
    @extend .white-bg;
    @extend .box_shadow;
    @extend .text_red;
    position: fixed;
    top: 85px;
    right: 5px;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    z-index: 10;
}
